@import './normalize.css';
@import './header.css';
@import './card.css';
  /*Se importan las fuentes  */
@import '../font/style.css';
:root{
    --dark: #343a40;
}

*{
    box-sizing: border-box;;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    margin-top: 60px;
    padding: 0.1px;
    /* max-width: 320px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.container-flex{
    display: flex;
    justify-content: space-between;
}

.slider{
    margin: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider__items{
    display: flex;
    width: 300%;
}

.slider__item{
    width: 100%;
}

.slider__btn-prev,
.slider__btn-next{
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn-prev:hover,
.slider__btn-next:hover{
    background:rgba(0, 0, 0, 1);
}

.slider__btn-prev{
    left: 10px;
}

.slider__btn-next{
    right: 10px;
}



