@import './normalize.css';
@import './header.css';
@import './card.css';
  /*Se importan las fuentes  */
@import '../font/style.css';
:root{
    --dark: #343a40;
}

*{
    box-sizing: border-box;;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    margin-top: 96px;
    padding: 0.1px;

    /* Las siguientes son reglas para ver el slider en accion */
    /* max-width: 320px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.container-flex{
    display: flex;
    justify-content: space-between;
}

.slider{
    margin: auto;
    width: 100%;
    position: relative;
    /* Para ver el slider en accion */
    overflow: hidden;
}

.slider__items{
    display: flex;
    width: 300%;
}

.slider__item{
    width: 100%;
}

.slider__btn-prev,
.slider__btn-next{
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn-prev:hover,
.slider__btn-next:hover{
    background:rgba(0, 0, 0, 1);
}

.slider__btn-prev{
    left: 10px;
}

.slider__btn-next{
    right: 10px;
}


.banner{
    position: relative;
}

.banner::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 900;
    top: 0;
}

.banner__container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner__img{
    width: 100%;
    object-fit: cover;
}

.banner__slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 900ms;
    animation: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.banner__item{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.banner__pagination{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    z-index: 100;
}

.banner__pagination__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.banner__pagination__item:hover{
    background-color: #fff;
}

input[id="1"]:checked~ .banner__slide{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked~ .banner__pagination__item[for='1']{
    background: #fff;
}

input[id="2"]:checked~ .banner__slide{
    animation: none;
    transform: translate3d(-100%,0,0);
}

input[id="2"]:checked~ .banner__pagination__item[for='2']{
    background: #fff;
}

input[id="3"]:checked~ .banner__slide{
    animation: none;
    transform: translate3d(-200%,0,0);
}

input[id="3"]:checked~ .banner__pagination__item[for='3']{
    background: #fff;
}

@keyframes autoplay{
    33%{
        transform: translate3d(0,0,0);
    }

    66%{
        transform: translate3d(-100%, 0,0);
    }

    100%{
        transform: translate3d(-200%, 0, 0);
    }
}


